@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap|Lato:300');

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.indexbody {
    background: url('../images/001-min.jpg') no-repeat center center;
    background-size: cover;
}

.demosbody {
    background: url('../images/shape5-min.jpg') no-repeat center center;
    background-size: cover;
}

.artistsbody {
    background: url('../images/006-min.jpg') no-repeat center center;
    background-size: cover;
}

/* Header  */

header {
    height: 200px;
    display:flex;
    justify-content: space-between;
    background-color: #000;
}

.main-logo {
    text-decoration: none;   
}

#logo {
    background: url('../images/replicalogo.jpg') no-repeat center center;
    background-size:cover;
    border-radius: 50%;
    height:120px;
    width:120px;
    margin-left: 30px;
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 0%;
}
#menu {
    font-family: "Chakra Petch", sans-serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    line-height: 75px;
    color:white;
    align-self: center;
    padding-top: 60px;
}

#menu li {
    margin-right: 30px;    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.container-fluid {
    z-index: 1;
}

/* Hero Image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text,
#cover-text h2 {
    color: #ffffff;
    text-transform: uppercase;
}

#cover-text {
    font-size: 200%;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 150px;
    padding-left: 10px;
    background-color: rgba(117, 106, 105, 0.7);
    height: 400px;
}

/* About */

.about-text {
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    background-color: #000;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 80%;
    height: 100%;
}

/* Latest */

.latest-text {
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 2px;
    color: white;
    height: 300px;
    margin:auto;

    background-color: #000;

    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 80%;
    height: 100%;
}

/* releases */
#carouselExampleCaptions{
    padding: 0;
    width: 420px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
    font-family: "Chakra Petch", sans-serif;
    border: 2px solid #ffffff;
}

/* Footer */

footer {
    font-family: "Chakra Petch", sans-serif;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    background-color: #000;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding: 12px 0;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: black;
    border-bottom: 3px solid #fff;
}

#footer-details {
    padding: 20px;
    display: flex;
}

.col-6 {
    text-align: center;
}

#copyright {
    text-align:center;
}

/* Artists */

.artists {
    padding-top: 30px;
    width: 100%;
    font-size: 120%;
    color:#ffffff;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carapace {
    display: flex;
    flex-direction: row-reverse;
    
}
.img-left {
    height: 300px;
    border-radius: 50%;
    margin-left: 30px;
    border: 2px solid #ffffff;
}

.img-right {
    height: 300px;
    border-radius: 50%;
    margin-right:30px;
    border: 2px solid #ffffff;
}

.text-left {
    display:flex;
    justify-content: flex-end;
    background-color: #000;

    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 45px;
}

.text-right {
    background-color: #000;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 45px;
}

.trypt {
    display: flex;
    flex-direction: row;
}


.carapace-hov {
    position: relative;
}

.overlay-cara {
    position: absolute;
    height: 300px;

    display:flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }
  
  .carapace-hov:hover .overlay-cara {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .artist-head {
    font-size: 200%;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

/* Demo Form */

.demo-heading {
    font-family: "Chakra Petch", sans-serif;
    font-weight:700;
    margin-top: 25px;
    margin-bottom:20px;
    color:#ffffff;
}

.center-form {
    padding-top:10px;
    margin:0 auto;
    max-width:70%;

}

button[type="submit"] {
    font-family: "Chakra Petch", sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: black;
}

.demo-section {
    flex: 1 0 auto;
}

.demo-container {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Media Queries */

@media screen and (max-width: 768px){
   .carapace {
    flex-direction: column-reverse;
    align-items: center;
   }

   .trypt {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   }

   .carapace-hov {
    padding-top: 25px;

   }
}




