@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap|Lato:300');

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.indexbody {
    background: url('../images/001-min.jpg') no-repeat center center;
    background-size: cover;
}

.demosbody {
    background: url('../images/shape5-min.jpg') no-repeat center center;
    background-size: cover;
}

.artistsbody {
    background: url('../images/006-min.jpg') no-repeat center center;
    background-size: cover;
}

/*Header*/

header {
    height: 200px;
    display:flex;
    justify-content: space-between;
}

.main-logo {
    text-decoration: none;   
}

#logo {
    background: url('../images/replicalogo.jpg') no-repeat center center;
    background-size:cover;
    border-radius: 50%;
    height:120px;
    width:120px;
    margin-left: 30px;
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 0%;
}
#menu {
    font-family: "Chakra Petch", sans-serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    line-height: 75px;
    color:white;
    align-self: center;
    padding-top: 60px;
}

#menu li {
    margin-right: 30px;    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

/*Hero Image*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text,
#cover-text h2 {
    color: #ffffff;
    text-transform: uppercase;
}

#cover-text {
    font-size: 200%;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 150px;
    padding-left: 10px;
    background-color: rgba(117, 106, 105, 0.7);
    height: 400px;
}

/*About*/

.about-text {
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
}

/*Latest*/

.latest-text {
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
    height: 300px;
    overflow: scroll;
}

/*releases*/

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Chakra Petch", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}

/*Footer*/

footer {
    font-family: "Chakra Petch", sans-serif;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: black;
    border-bottom: 3px solid #fff;
}

#footer-details {
    padding: 20px;
    display: flex;
}

.col-6 {
    text-align: center;
}

#copyright {
    text-align:center;
}

/*Artists*/

.artists {
    padding-top: 30px;
    width: 100%;
    font-size: 120%;
    color:#ffffff;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carapace {
    display: flex;
    flex-direction: row-reverse;
    
}
.img-left {
    height: 300px;
    border-radius: 50%;
}

.img-right {
    height: 300px;
    border-radius: 50%;
}

.text-left {
    display:flex;
    justify-content: flex-end;
}

.trypt {
    display: flex;
    flex-direction: row;
}
